
 @import url("https://use.typekit.net/gmr4bjv.css");

body{
  font-family: helvetica;
}

header{


}

h1{
  font-family: amador, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 170px;
  margin-bottom: -100px;
  font-size: 15em;
  color: #272727;

}

h2{

  font-family: sui-generis, sans-serif;
font-style: normal;
font-weight:normal;
  font-size: 6em;
  margin-left:150px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  color: #272727;
}


h3{

  font-size: 2em;
  font-family: sui-generis, sans-serif;
font-style: normal;
font-weight:normal;
color: #272727;
}


p{
  color: #272727;
}


#main-menu {
  font-family: sui-generis, sans-serif;
  font-style: normal;
  font-weight:normal;


}
